@layer basis, algemeen, lichaam, interactie, animatie;

@layer basis{

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{ 
    font-family:'Roboto Flex';
    src: url('../fonts/roboto-flex.woff2') format('woff2');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}
}

/* --------------------------------------------------------------------------------- MARK: ALGEMEEN 
*/

@layer algemeen{

:root{
    --color-main-background: #F5F0E4;
    --color-star: #F4574C;
    --color-eyes: white;
    --color-pupils: black;
    --color-legs: #4A2E1F;
    --color-btn: pink;
    --color-btn-hover: #ff8a00;
    --color-text: black;
}

html:has([value="dizzy"]:checked){
    --dizzy:pressed;
}

html:has([value="evil"]:checked){
    --evil:pressed;
}

html:has([value="wonky"]:checked){
    --wonky:pressed;
}

html:has([value="risky"]:checked){
    --risky:pressed;
}

html:has([value="startknop"]:checked){
    --startknop:pressed;
}

body{
    background-color: var(--color-main-background);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

header{
    width: 100vw;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

h1{
    position: relative;
    font-family: 'Roboto Flex', sans-serif;
    font-size: clamp(1em, 7vw, 4em);
    line-height: 1;

    letter-spacing: -0.02em;

    color: var(--color-text);
    animation: variabeleTitel 6s ease-in-out infinite;
}

/* Bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Fonts/Variable_fonts voor de styling/ animatie variabel font
Bron: chatGPT voor font-variation-settings dat niet werkte en daardoor oplossing font-weight & font-stretch */
@keyframes variabeleTitel{

    0%{
        font-weight: 650;
        font-stretch: 100%;
        /* font-variation-settings: ; */
        letter-spacing: -0.02em;
    }

    25%{
        font-weight: 800;
        font-stretch: 110%;
        letter-spacing: 0.01em;
    }

    50%{
        font-weight: 700;
        font-stretch: 95%;
        letter-spacing: -0.03em;
    }

    75%{
        font-weight: 850;
        font-stretch: 105%;
        letter-spacing: 0.015em;
    }

    100%{
        font-weight: 650;
        font-stretch: 100%;
        letter-spacing: -0.02em;
    }

}

/* Voor uitlijning knoppen na druk op startknop */
main{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
    gap: 80px;
}

@layer animatie{

/* Ster gaat op en neer */
main section:nth-child(2){
    position: relative;
    transform-origin: center;

    animation: opEnNeer 2.5s ease-in-out infinite;
}

@keyframes opEnNeer{

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0px);
    }

}

}

main > section:first-child,
main > section:last-child{
    display: none;
}

/* Interactie knoppen */
main > section > label{
    background-color: var(--color-btn);
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;

    border-radius: 6px;
    border: none;
    cursor: pointer;

    padding: 1em 3em;

    input{
        display: none;
    }
 
    &:hover{
        background-color: var(--color-btn-hover);

        transition: .5s ease;
    }
}

footer{
    margin-top: 11em;

    /* 'Button' start */
    label{
        background-color: var(--color-btn-hover);
        color: white;
        text-transform: uppercase;
        font-family: 'Roboto Flex', sans-serif;
        letter-spacing: 0.015em;
        font-weight: bold;

        border-radius: 6px;
        border: none;
        cursor: pointer;

        padding: 1em 3em;

        input{
            display: none;
        }
    }

    /* 'Button' hover */
    &:has([type="radio"]:hover){
        label{
            background-color: var(--color-btn);

            transition: .5s ease;
        }
    }

    /* 'Button' laten verdwijnen */
    &:has([type="radio"]:checked){
        label{
            display: none;
        }
    }
}

} /* Hier eindigt de layer 'algemeen' */

/* --------------------------------------------------------------------------------- MARK: LICHAAM HOOFD
*/

@layer lichaam{

/* ---------------Ring van sterren --------------*/
/* Bron: https://3dtransforms.desandro.com/carousel */

main > section > aside{
    position: absolute;
    top: -6em;
    left: 1.5em;

    width: 200px;
    height: 200px;
    perspective: 1000px;
    z-index: 10;

    opacity: 0;
}

/* Sterren container */
main > section > aside > figure{
    width: 100%;
    height: 100%;
    position: absolute;

    transform-style: preserve-3d;
    animation: rotateRing 10s infinite linear;
}

/* Sterren zelf */
main > section > aside > figure > span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    color: gold;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

@layer animatie{

main > section > aside > figure > span:nth-child(1){ 
    transform: rotateY(0deg) translateZ(100px); 
}

main > section > aside > figure > span:nth-child(2){ 
    transform: rotateY(60deg) translateZ(100px); 
}

main > section > aside > figure > span:nth-child(3){ 
    transform: rotateY(120deg) translateZ(100px); 
}

main > section > aside > figure > span:nth-child(4){ 
    transform: rotateY(180deg) translateZ(100px); 
}

main > section > aside > figure > span:nth-child(5){ 
    transform: rotateY(240deg) translateZ(100px); 
}

main > section > aside > figure > span:nth-child(6){ 
    transform: rotateY(300deg) translateZ(100px); 
}

@keyframes rotateRing{

    from{ 
        transform: rotateY(0deg); 
    }

    to{ 
        transform: rotateY(360deg); 
    }
}

}

/* Ster Hoofd */
main > section > aside + div{
    position: relative;
    display: flex;
    justify-content: center;

    transition: 0.15s linear;

    z-index: 1;

    background: var(--color-star);
    width: 250px;
    height: 200px;

    /* Bron clip-path ster: https://bennettfeely.com/clippy/ */
    clip-path: polygon(
        50% 0%, /* Punt 1 */
        60% 27%, /* Inkeping 1 (rechts)*/
        82% 8%, /* 2 */
        72% 34%, /* Inkeping 2 */
        100% 34%, /* 3 */
        75% 46%, /* Inkeping 3 */
        92% 70%, /* 4 */
        68% 61%, /* Inkeping 4 */
        78% 95%, /* 5 */
        55% 72%, /* Inkeping 5 */
        50% 100%, /* 6 */
        45% 72%, /* Inkeping 6 */
        22% 95%, /* 7 */
        32% 60%, /* Inkeping 7 */
        8% 70%, /* 8 */
        25% 46%, /* Inkeping 8 */
        0% 34%, /* 9 */
        28% 32%, /* Inkeping 9 */
        18% 8%, /* 10 */
        40% 27% /* Inkeping 10 */
    );

    transform: rotate(3deg);
}

/* Ogen */
main > section > aside + div > div{
    display: flex;
    justify-content: center;

    gap: 20px;
    margin-top: 75px;

    transform: rotate(-4deg);

    /* Oogvorm */
    label{
        background: var(--color-eyes);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 26px;
        height: 10px;

        /* Bron oogvorm: https://codepen.io/samc36/pen/KNEOpG */
        border-radius: 90% 0px;

        transform: rotate(19deg);

        cursor: pointer;

        input{
            display: none;
        }

        /* Pupil */
        div{
            background: var(--color-pupils);

            width: 5px;
            height: 7.5px;

            border-radius: 50%;

            transform: rotate(-19deg);
        }
    }
}

/* --------------------------------------------------------------------------------- MARK: LICHAAM BENEN
*/

/* Benen container */
main > section > div:last-child{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: -90px;
}

/* Been */
main > section > div:last-child > div{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    width: 7px;
    height: 180px;
    background: var(--color-legs);

    transform-origin: top center;
}

/* Onderbeen */
main > section > div:last-child > div > div{
    position: absolute;
    top: 100%;
    margin-top: 10px;

    width: 7px;
    height: 120px;
    background: var(--color-legs);

    transform-origin: top center;
}

/* Voet */
main > section > div:last-child > div > div > div{
    position: absolute;
    bottom: 0;
    left: -7px;

    width: 22px;
    height: 7px;
    background: var(--color-legs);
    border-radius: 2px;
}

} /* Hier eindigt de layer 'lichaam' */

/* --------------------------------------------------------------------------------- MARK: INTERACTIE
*/

@layer interactie{
    
/* Default: geen animatie bij titel na klik */
body:has(footer input[type="radio"]:checked) header h1{
    animation: none !important;
}

/* Interactieknoppen laten zien */
body:has(footer input[type="radio"]:checked) main > section:first-child,
body:has(footer input[type="radio"]:checked) main > section:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 30vh;
}

/* Interactie knop 2 - Ander thema */
@container style(--evil:pressed) {
    body{
        --color-star: #FFF000;
        --color-legs: white;
        --color-btn: black;
        --color-btn-hover: #FFF000;
        --color-text: white;
        --color-main-background: #000435;
        --color-pupils: red;
    }

    /* Evil wenkbrouw links */
    main section:nth-of-type(2) > div > div > label:first-child::before{
         content:"";
        position: absolute;

        width: 25px;
        height: 4px;
        background-color: black;

        margin-bottom: 35px;
        transform: translateX(-4px);
    }

    /* Evil wenkbrouw rechts */
    main section:nth-of-type(2) > div > div > label:last-child::before{
    content:"";
    position: absolute;

    width: 25px;
    height: 4px;
    background-color: black;

    margin-bottom: 35px;
    transform: rotate(-30deg) translateX(-4px);
    }

    /* Glimlach */
    main section:nth-of-type(2) > div > div::after{
    content:"";
    position: absolute;

    width: 12px;
    height: 2px;
    background-color: black;

    transform: rotate(-5deg) translateX(10px) translateY(40px);
    border-radius: 10px;
    }
}

/* ------------  Interactie container style queries combinaties ------------- */

@container style(--dizzy:pressed) and style(--evil:pressed){

    body{
        animation: achtergrondKleurAnders 5s infinite;
    }

    @keyframes achtergrondKleurAnders{

        0%{
            background-color: #000435;
        }

        10%{
            background-color: #0a0f5c;
        }

        20%{
            background-color: #1a0066;
        }

        30%{
            background-color: #3b0088;
        }

        40%{
            background-color: #5f00a8;
        }

        50%{
            background-color: #2e8b57; 
        }

        60%{
            background-color: #6b8e23;
        }

        70%{
            background-color: #8b0000; 
        }

        80%{
            background-color: #4b0000; 
        }

        90%{
            background-color: #1a0000;
        }

        100%{
            background-color: #000000;
        }

    }

}

/* Interactie pupil, oog weg */
label:has(input[value="oog"]:checked) div{
    display: none;
}

} /* Hier eindigt deze layer 'interactie' */

/* --------------------------------------------------------------------------------- MARK: ANIMATIE
*/ /* Bron hoe aanpakken Silly Walk: https://miocene.io/demo/css-noodle/ */

@layer animatie{

/* Animatie: ogen kijken rond */
main > section > div > div label div{
    animation: kijkRond 4.5s ease-in-out infinite;
}

@keyframes kijkRond{

    0%{
        transform: translateX(0) rotate(-19deg);
    }

    25%{
        transform: translateX(3px) rotate(-19deg);
    }

    50%{
        transform: translateX(-3px) rotate(-19deg);
    }

    75%{
        transform: translateX(2px) rotate(-19deg);
    }

    100%{
        transform: translateX(0) rotate(-19deg);
    }

}

/* Rechteroog heeft een delay met het kijken */
main > section > div > div > label:last-child div{
    animation-delay: 0.5s;
}

/* Hoofd ster scale */
main > section > div:first-child{
    animation: scaleHoofd 2.5s linear infinite;
}

@keyframes scaleHoofd{

    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }

}

/* Knop start gedrukt */
@container style(--startknop:pressed){
    /* Beide benen (en bovenbeen) */
    main > section > div:last-child > div{
        transform-origin: top center;
    }

    /* Linkerbeen */
    section:nth-of-type(2) > div:last-child > div:first-child{
        animation: beenLinks 1.2s infinite ease-in-out;
    }

    @keyframes beenLinks{

        0%{
            transform: rotate(-25deg);
        }

        50%{
            transform: rotate(25deg);
        }

        100%{
            transform: rotate(-25deg);
        }

    }

    /* Rechterbeen */
    section:nth-of-type(2) > div:last-child > div:last-child{
        animation: beenRechts 1.2s infinite ease-in-out;
    }

    @keyframes beenRechts{

        0%{
            transform: rotate(25deg);
        }

        50%{
            transform: rotate(-25deg);
        }

        100%{
            transform: rotate(25deg);
        }

    }

    /* Knie */
    section:nth-of-type(2) > div:last-child > div > div{
        animation: knie 3s infinite ease-in-out;
        transform-origin: top;
    }

    @keyframes knie{

        0%{
            transform: rotate(0deg);
        }

        50%{
            transform: rotate(40deg);
        }

        100%{
            transform: rotate(0deg);
        }

    }

    /* Voet links */
    section:nth-of-type(2) > div:last-child > div > div > div{
        animation: voetLinks 0.8s infinite ease-in-out;
        transform-origin: top center;
    }

    @keyframes voetLinks{

        0%{
            transform: rotate(15deg);
        }

        50%{
            transform: rotate(-10deg);
        }

        100%{
            transform: rotate(15deg);
        }

    }

    /* Voet rechts */
    section:nth-of-type(2) > div:last-child > ul:last-child > li:nth-child(2) div{
        animation: voetRechts 0.8s infinite ease-in-out;
        transform-origin: top center;
    }

    @keyframes voetRechts{

        0%{
            transform: rotate(-10deg);
        }

        50%{
            transform: rotate(15deg);
        }

        100%{
            transform: rotate(-10deg);
        }

    }

    /* Heen en weer lopen */
    section:nth-of-type(2){
        animation: basisLoopje 6s linear infinite;
    }

    @keyframes basisLoopje{

        0%{
            transform: translateX(-25px);
        }

        50%{
            transform: translateX(25px);
        }

        100%{
            transform: translateX(-25px);
        }

    }
}

/* ------------------Knop Dizzy ------------------ */
@container style(--dizzy:pressed){
    /* Hele lichaam laten draaien */
    main > section:first-child{
        position: relative;
        transform-origin: 50% 100px;
    }

    main:has(section:first-child label:nth-child(1) input:checked) > section:nth-of-type(2){
        animation: dizzy 6s linear infinite;
    }

    @keyframes dizzy{

        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(-360deg);
        }

    }

    body{
        animation: achtergrondKleurAnders 5s infinite;
    }

    @keyframes achtergrondKleurAnders{

        0%{
            background-color: steelblue;
        }

        10%{
            background-color: red;
        }

        20%{
            background-color: orange;
        }

        30%{
            background-color: yellow;
        }

        40%{
            background-color: green;
        }

        50%{
            background-color: blue;
        }

        60%{
            background-color: indigo;
        }

        70%{
            background-color: violet;
        }

        80%{
            background-color: pink;
        }

        90%{
            background-color: brown;
        }

        100%{
            background-color: black;
        }

    }

    /* Ring van sterren */
    main > section > aside{
        opacity: 1;
    }

    /* Ogen als ster */
    main > section > aside + div > div{

        div{
            width: 7px;
            height: 9px;

            /* Bron: https://bennettfeely.com/clippy/ */
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        }
    }
}

/* ------------------Knop Wonky ------------------ */
    /* Achtergrond
    Bron: https://www.sliderrevolution.com/resources/css-animated-background/

    body{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 1s ease infinite;
    }

    @keyframes gradient{

        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    } */

/* ------------------Knop Risky ------------------ */
/* Achtergrond
    Bron: https://codepen.io/rediris/pen/PojWxP?anon=true&view=pen 
    
    body{
        background-color:white;
        background-image: linear-gradient(45deg, rgba(5,0,0,.5) 50%, transparent 50%),
        linear-gradient(135deg,rgba(5,0,0,.5) 50%, transparent 50%);
        background-size:10px 10px;
} */

/* Andere achtergronden
Shooting stars 2. : https://prismic.io/blog/css-background-effects
https://prismic.io/blog/css-background-effects 
https://codepen.io/JuneBug1897/pen/abRYoQL */


} /* Hier eindigt de layer 'animatie' */

