*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face{ 
    font-family:'Roboto Regular';
    src: url('../fonts/roboto-regular.woff2') format('woff2');
} */

/* --------------------------------------------------------------------------------- MARK: GENERAL 
*/

:root{
    --color-main-background: #F5F0E4;
    --color-star: #F4574C;
    --color-eyes: white;
    --color-pupils: black;
    --color-legs: #4A2E1F;
}

body{
    background-color: var(--color-main-background);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* --------------------------------------------------------------------------------- MARK: STER STYLING
*/

/* Ster container */
main > section > div:first-child{
    position: relative;

    display: flex;
    justify-content: center;

    transition: 0.15s linear;

    z-index: 1;
}

/* Ster zelf */
main > section > div:first-child{
    background: var(--color-star);
    width: 250px;
    height: 200px;

    /* Bron clip-path ster: https://bennettfeely.com/clippy/ */
    clip-path: polygon(
        50% 0%, /* Punt 1 */
        60% 27%, /* Inkeping 1 (rechts)*/
        82% 8%, /* 2 */
        72% 34%, /* Inkeping 2 */
        100% 34%, /* 3 */
        75% 46%, /* Inkeping 3 */
        92% 70%, /* 4 */
        68% 61%, /* Inkeping 4 */
        78% 95%, /* 5 */
        55% 72%, /* Inkeping 5 */
        50% 100%, /* 6 */
        45% 72%, /* Inkeping 6 */
        22% 95%, /* 7 */
        32% 60%, /* Inkeping 7 */
        8% 70%, /* 8 */
        25% 46%, /* Inkeping 8 */
        0% 34%, /* 9 */
        28% 32%, /* Inkeping 9 */
        18% 8%, /* 10 */
        40% 27% /* Inkeping 10 */
    );

    transform: rotate(3deg);
} 

/* Interactie: snelle kleurenflits */
/* main > div:first-child:hover{
    animation: sterFlash 1s linear;
}

@keyframes sterFlash{

    0%{
        background: var(--color-star);
    }

    20%{
        background: pink;
    }

    40%{
        background: #ff8a00;
    }

    60%{
        background: pink;
    }

    80%{
        background: #ff8a00;
    }

    100%{
        background: var(--color-star);
    }

} */

/* Ogen */
main > section > div:first-child > div{
    display: flex;
    justify-content: center;

    gap: 20px;
    margin-top: 75px;

    transform: rotate(-6deg);
}

/* Interactie pupil: ogen uit elkaar */
/* input:checked ~ main > div:first-child > div > label:first-child div{
    transform:translateX(-3px);
}

input:checked ~ main > div:first-child > div > label:last-child div{
    transform:translateX(3px);
} */

/* Oogvorm */
main > section > div > div > label{
    background: var(--color-eyes);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 26px;
    height: 10px;

    /* Bron oogvorm: https://codepen.io/samc36/pen/KNEOpG */
    border-radius: 90% 0px;

    transform: rotate(19deg);

    cursor: pointer;
}

label > input{
    display: none;
}

/* Pupil */
label > div{
    background: var(--color-pupils);

    width: 5px;
    height: 7.5px;

    border-radius: 50%;

    transform: rotate(-19deg);
}

/* Interactie pupil: (soortvan) knipperen, niet volledig uitgewerkt */
input:checked + div{
    transform: scaleY(0);
}

/* --------------------------------------------------------------------------------- MARK: BENEN STYLING
*/

/* Benen container */
main > section > div:last-child{
    display: flex;
    justify-content: center;

    gap: 40px;
    margin-top: -90px;
}

/* Volledige benen */
main > section > div:last-child > ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    gap: 10px;
}

/* Bovenbeen */
main > section > div:last-child > ul > li:nth-child(1){
    background: var(--color-legs);

    width: 7px;
    height: 180px;
}

/* Onderbeen */
main > section > div:last-child > ul > li:nth-child(2){
    background: var(--color-legs);

    width: 7px;
    height: 150px;
}

/* Voet */
main > section > div:last-child > ul > li:nth-child(3){
    width: 22px;
    height: 7px;

    background: var(--color-legs);

    border-radius: 2px;
}

/* --------------------------------------------------------------------------------- MARK: SILLY WALK 
*/ /* Bron hoe aanpakken Silly Walk: https://miocene.io/demo/css-noodle/ */

/* Hele lichaam laten draaien */
main > section{
    position: relative;
    /* animation: loopSter 6s linear infinite; */
    /* animation: draaiSter 6s linear infinite; */
}

@keyframes loopSter{

    0%{
        transform: translateX(-200px);
    }

    100%{
        transform: translateX(200px);
    }

}

@keyframes draaiSter{

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }

}

/* Hoofd ster */
main > section > div:first-child{
    animation: scaleHoofd 3s linear infinite;
} 

@keyframes scaleHoofd{

    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }

} 

/* Benen compleet */
main > section > div:last-child > ul{
    transform-origin: top center;
}

/* Linkerbeen */
main > section > div:last-child > ul:first-child{
    animation: beenLinks 1.2s infinite ease-in-out;
}

@keyframes beenLinks{

    0%{
        transform: rotate(-25deg);
    }

    50%{
        transform: rotate(25deg);
    }

    100%{
        transform: rotate(-25deg);
    }

}

/* Rechterbeen */
main > section > div:last-child > ul:last-child{
    animation: beenRechts 1.2s infinite ease-in-out;
}

@keyframes beenRechts{

    0%{
        transform: rotate(25deg);
    }

    50%{
        transform: rotate(-25deg);
    }

    100%{
        transform: rotate(25deg);
    }

}

/* Knie */
main > section > div:last-child > ul > li:nth-child(2){
    animation: knie 3s infinite ease-in-out;
    transform-origin: top;
}

@keyframes knie{

    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(40deg);
    }

    100%{
        transform: rotate(0deg);
    }

}

/* Voeten */
main > section > div:last-child > ul:first-child > li:nth-child(3){
    transform-origin: top center;
    animation: voetLinks 0.8s infinite ease-in-out;
}

@keyframes voetLinks{

    0%{
        transform: rotate(15deg);
    }

    50%{
        transform: rotate(-10deg);
    }

    100%{
        transform: rotate(15deg);
    }

}

main > section > div:last-child > ul:last-child > li:nth-child(3){
    transform-origin: top center;
    animation: voetRechts 0.8s infinite ease-in-out;
}

@keyframes voetRechts{

    0%{
        transform: rotate(-10deg);
    }

    50%{
        transform: rotate(15deg);
    }

    100%{
        transform: rotate(-10deg);
    }

}

